@import 'https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto:300,400,700';

$border_color: #f2f2f2;

body {
  font: 14px "Roboto", "Didact Gothic", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #666;
}

a {
  color: #00B7FF;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.items {
  padding: 10px 0 0 10px;
  overflow: auto;
}

.item {
  margin: 0 10px 10px 0;
  float: left;
  width: calc(33.33% - 40px);
  padding: 0 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  h3 {
    color: #00B7FF;
    font-size: 1.6em;
  }
  p {
    min-height: 100px;
  }
}

.price {
  padding: 15px;
  margin: 0 -15px;
  border-top: 1px solid $border_color;
  overflow: auto;
  span {
    float: left;
    font-weight: 700;
    font-size: 1.3em;
    color: #7baf04;
  }
  .cart-items {
    float: right;
  }
}

.cart-items {
  input {
    font-family: inherit;
    border: 1px solid #eee;
  }
  input[type=text] {
    width: 24px;
    margin-right: 5px;
    text-align: center;
    padding: 2px 6px;
  }
  input[type=button] {
    border-radius: 0;
    background: $border_color;
    padding: 2px 6px;
  }
}

@media (max-width: 992px) {
  .item {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .item {
    width: calc(100% - 40px);
  }
}