@import 'https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto:300,400,700';

body {
  font: 14px "Roboto", "Didact Gothic", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #666;
}

a {
  color: #00B7FF;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.items {
  margin-top: 40px;
  padding: 10px 0 0 10px;
  overflow: auto;
}

.item {
  margin: 0 10px 10px 0;
  float: left;
  width: calc(33.33% - 40px);
  padding: 0 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.item h3 {
  color: #00B7FF;
  font-size: 1.6em;
}

.item p {
  min-height: 100px;
}

.price {
  padding: 15px;
  margin: 0 -15px;
  border-top: 1px solid #f2f2f2;
  overflow: auto;
}

.price span {
  float: left;
  font-weight: 700;
  font-size: 1.3em;
  color: #7baf04;
}

.price .form-items {
  float: right;
}

.form-items input {
  font-family: inherit;
  border: 1px solid #eee;
}

.form-items input[type=text] {
  width: 24px;
  margin-right: 5px;
  text-align: center;
  padding: 2px 6px;
}

.form-items input[type=button] {
  border-radius: 0;
  background: #f2f2f2;
  padding: 2px 6px;
}

.cart {
  margin: 10px 10px -30px 10px;
  max-height: 100%;
  overflow: auto;
  position: relative;
  width: auto;
  top: auto;
  right: auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.cart-item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 4px 5px;
}

.cart-item:last-child {
  border: none;
}

.cart-item span {
  padding: 0 5px;
}

.cart-top {
  font-size: 1.2em;
  padding: 5px 10px;
  background: #eee;
}

.cart-bottom {
  padding: 5px;
  background: #eee;
}

.cart-bottom .button {
  border: 1px solid #ddd;
  border-radius: 0;
  text-decoration: none;
  padding: 3px 6px;
  display: inline-block;
  margin-right: 5px;
}

.success {
  border: rgba(114, 219, 10, 0.29) 1px solid;
  padding: 15px;
  color: #63a815;
  margin: 15px 0;
}

@media (max-width: 992px) {
  .item {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .item {
    width: calc(100% - 40px);
  }
}